<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Gesture_HR_SwipeLeft" value="{RIGHT}" />
		<add key="Gesture_HL_SwipeRight" value="{LEFT}" />
		<add key="Gesture_HR_Kozakiewicz" value="" />
		<add key="UserOpacity" value="0,281310551347543" />
		<add key="UserBrightness" value="52" />
	</appSettings>
</configuration>