<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Gesture_JoinedHands" value="" />
		<add key="Gesture_WaveRight" value="" />
		<add key="Gesture_WaveLeft" value="" />
		<add key="Gesture_RightHandSwipeLeft" value="{LEFT}" />
		<add key="Gesture_RightHandSwipeRight" value="{RIGHT}" />
		<add key="Gesture_LeftHandSwipeRight" value="{RIGHT}" />
		<add key="Gesture_LeftHandSwipeLeft" value="{LEFT}" />
		<add key="Gesture_RightKozakiewicz" value="" />
	</appSettings>
</configuration>