<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Gesture_JoinedHands" value="" />
		<add key="Gesture_Menu" value="" />
		<add key="Gesture_SwipeLeft" value="{LEFT}" />
		<add key="Gesture_SwipeRight" value="{RIGHT}" />
		<add key="Gesture_WaveRight" value="" />
		<add key="Gesture_WaveLeft" value="" />
		<add key="Gesture_ZoomIn" value="^{+}" />
		<add key="Gesture_ZoomOut" value="^{-}" />
		<add key="Gesture_SwipeUp" value="{PGDN}" />
		<add key="Gesture_SwipeDown" value="{PGUP}" />
	</appSettings>
</configuration>